<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crypto-Stegano Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {
  background-color: #92a8d1;
}

ul.navbar-nav li a:hover:not(.active) {background-color: #DEB887;}
ul.navbar-nav li a.active {background-color:#92a8d1;}

.container {
    border-radius:5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:95%;
}
</style>
</head>
<body>
<div class="w3-border w3-center">
    <div class="w3-container w3-green">
      <h2> CryptoStegano </h2>
    </div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li ><a class="active" href="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="encrypt_text">Encrypt Text</a></li>
      <li><a href="decrypt_text">Decrypt Text</a></li>
      <li><a href="encrypt_image">Encrypt Image</a></li>
      <li><a href="decrypt_image">Decrypt Image</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="about_us"><span class="glyphicon glyphicon-user"></span> About Us</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <p><b>Cryptography</b><br> <pre>      The cryptography is associated with process of converting ordinary text into unreadable text and vice versa.</pre></p>
<p><b>Steganography</b><br> <pre>      The steganography is  the concept of hiding or retrieving messages within the image.</pre></p>
<p><b>Combination of cryptography and steganography</b><br> <pre>      Here the messages were encrypted before hiding withing the image and the messages were decrypted after retrieved from the image.</pre></p>
<p><b>Options Description</b><br> 
<pre style="text-align:center;"><b>Encrypt Text</b> - It's designed to hide messages on image </pre> 
<pre style="text-align:center;"><b>Decrypt Text</b> - It's designed to retrive messages from image </pre>
<pre style="text-align:center;"><b>Encrypt Image</b> - It's designed to hide image on another image </pre>
<pre style="text-align:center;"><b>Decrypt Image</b> -  It's designed to retrive image from another image </pre>
</p>
</div>

</body>
</html>
